.main-pg-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.name-circle {
    margin-top: 4%;
    position: relative;
    display: inline-block;
    border: 6px solid gold;
    background-color: rgb(255, 215, 0, 0.35);
    border-radius: 50%;
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Space Mono', monospace;

}

.name-on-landing {
    font-size: 64px;
}

.web-dev-landing {
    font-size: 36px;
    font-weight: 100;
    margin: -20px;
}

.scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

.arrow {
    display: inline-block;
    border: solid gold;
    border-width: 0 5px 5px 0;
    padding: 3px;
    transform: rotate(45deg);
    /* border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FCA101; */
}

.arrow:hover {
    border-width: 0 10px 10px 0;
    padding: 15px;
}




.scroll-landing {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

.scroll-landing:hover {
    font-size: 29px;
}

.click-here-btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}


.click-here-btn:hover,
.click-here-btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.click-here-btn:hover {
    transform: translateY(-1px);
}

.click-here-btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}




@media (max-width: 984px) {
    .name-on-landing {
        font-size: 54px;
    }

    .scroll-arrow {
        margin-left: 6%;
    }

    .name-circle {
        height: 72vh;
        width: 81vw;
        margin-left: -10%;
    }
}




@media (max-width: 782px) {
    .name-circle {
        height: 81vh;
        width: 86vw;
        margin-left: -5%;
    }

    .scroll-arrow {
        margin-left: 8%;
    }
}

@media (max-width: 729px) {
    .name-circle {
        height: 81vh;
        width: 90vw;
        margin-left: -3%;
    }

    .scroll-arrow {
        margin-left: 11%;
    }
}

@media (max-width: 619px) {
    .name-circle {
        height: 81vh;
        width: 100vw;
        margin-left: 5%;
        margin-top: 10%;
    }

    .scroll-arrow {
        margin-left: 30%;
        margin-top: 10%;
    }
}

@media (max-width: 553px) {
    .name-circle {
        height: 81vh;
        width: 129vw;
        margin-left: 45%;
        margin-top: 20%;
    }

    .scroll-arrow {
        margin-left: 45%;
        margin-top: 20%;
    }
}


@media (max-width: 465px) {
    .name-circle {
        height: 82vh;
        width: 136vw;
        margin-left: 50%;
        margin-top: 65%;
    }

    .scroll-arrow {
        margin-left: 75%;
        margin-top: 50%;
    }
}

@media (max-width: 401px) {

    .name-circle {
        height: 82vh;
        width: 172vw;
        margin-left: 95%;
        margin-top: 75%;
    }

    .scroll-arrow {
        margin-left: 95%;
        margin-top: 75%;
    }
}


@media (max-width: 333px) {
    .name-circle {
        height: 82vh;
        width: 217vw;
        margin-left: 130%;
        margin-top: 90%;
    }

    .scroll-arrow {
        margin-left: 130%;
        margin-top: 80%;
    }
}





/* 
@media (max-width: 830px) {
    .name-circle {
        margin-top: 7em;
    }
}

@media (max-width: 788px) {
    .name-circle {
        margin-top: 7em;
    }

    .scroll-arrow {
        height: 13vh;
    }

    .main-pg-background {
        width: 110vh;
        height: 100vh;
    }
}

@media (max-width: 678px) {
    .name-circle {
        margin-top: 16em;
        height: 60vh;
        width: 80vw;
    }
}

@media (max-width: 625px) {
    .name-circle {
        margin-top: 18em;
        height: 60vh;
        width: 90vw;
    }
}

@media (max-width: 552px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 95vw;
    }
}

@media (max-width: 525px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 110vw;
    }
}

@media (max-width: 452px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 120vw;
    }
}

@media (max-width: 419px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 130vw;
    }
}


@media (max-width: 392px) {
    .name-circle {
        margin-top: 5em;
        height: 70vh;
        width: 140vw;
    }

    .main-pg-background {
        width: 115vh;
        height: 100vh;
    }
}

@media (max-width: 372px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 155vw;
    }
}

@media (max-width: 319px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 166vw;
    }
}

@media (max-width: 299px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 180vw;
    }
}

@media (max-width: 278px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 190vw;
    }
}

@media (max-width: 260px) {
    .name-circle {
        margin-top: 5em;
        height: 60vh;
        width: 250vw;
    }

} */