.main-pg-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-circle {
    margin-top: 5em;
    position: relative;
    display: inline-block;
    border: 6px solid gold;
    background-color: rgb(255, 215, 0, 0.35);
    border-radius: 50%;
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Space Mono', monospace;

}

.name-on-landing {
    font-size: 64px;
}

.web-dev-landing {
    font-size: 36px;
    font-weight: 100;
    margin: -20px;
}

.scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

.arrow {
    display: inline-block;
    border: solid gold;
    border-width: 0 5px 5px 0;
    padding: 3px;
    transform: rotate(45deg);
    /* border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FCA101; */
}

.scroll-landing {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}