.navbar-container {
    background-color: rgb(255, 215, 0, 0.35);
    margin-top: 100%;
    margin-left: 15%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.name-and-dev-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-name {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.nav-web-dev {
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.right-side {
    margin-top: 20em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.flex-nav {
    display: flex;
    position: sticky;
    top: 0;
    height: 100%;
    width: 12vw;
}

@media (max-width: 1051px) {
    .nav-link {
        font-size: 26px;
    }

    .nav-name {
        text-align: center;
    }

    .nav-web-dev {
        text-align: center;
    }
}

@media (max-width: 943px) {
    .nav-link {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        width: 4vw;
        height: 4vh;
        margin-left: 0px;
    }

    .nav-link {
        font-size: 0px;
    }

    .nav-web-dev {
        font-size: 0px;
    }

    .nav-name {
        visibility: hidden;
    }

    .nav-name::before {
        content: '>';
        visibility: visible;
        padding-left: 9vw;
    }

    .name-and-dev-nav-bar {
        padding-top: 2vh;
    }

    /* hover effect */

    .navbar-container:active {
        background-color: rgb(255, 215, 0, 0.35);
        margin-top: 100%;
        margin-left: 15%;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .name-and-dev-nav-bar:hover {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-name:hover {
        font-family: 'Space Mono', monospace;
        font-weight: bold;
        font-size: 17px;
        color: white;
    }


}

/* @media (max-width: 1008px) {
    .nav-link {
        font-size: 26px;
    }

    .nav-name {
        text-align: center;
    }

    .nav-web-dev {
        text-align: center;
    }
}


@media (max-width: 879px) {
    .nav-link {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .navbar-container {}
} */