.navbar-container {
    background-color: rgb(255, 215, 0, 0.35);
    margin-top: 100%;
    margin-left: 15%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.name-and-dev-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-name {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.nav-web-dev {
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.right-side {
    margin-top: 20em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.flex-nav {
    display: flex;
    position: sticky;
    top: 0;
    height: 100%;
    width: 12vw;
}

.toggle-button {
    position: absolute;
    left: 62px;
    top: 20vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 4vw;
    height: 4vh;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1051px) {
    .nav-link {
        font-size: 26px;
    }

    .nav-name {
        text-align: center;
    }

    .nav-web-dev {
        text-align: center;
    }
}

@media (max-width: 943px) {
    .nav-link {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    .toggle-button {
        display: flex;
        background-color: rgb(255, 215, 0, 0.35);
        padding: 15px;
        margin-left: -59px;
    }

    .name-and-dev-nav-bar {
        display: none;
    }

    .name-and-dev-nav-bar:active {
        display: flex;
    }

    .nav-link-container {
        display: none;
    }

    .navbar-container {
        margin-left: 0.33000000000000007vw;
        margin-top: 19.999vh;
        background-color: black;
        width: 100vw;
        height: 65vh;
        padding-top: 5vh;
    }
}



/* @media (max-width: 1008px) {
    .nav-link {
        font-size: 26px;
    }

    .nav-name {
        text-align: center;
    }

    .nav-web-dev {
        text-align: center;
    }
}


@media (max-width: 879px) {
    .nav-link {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .navbar-container {}
} */